<?xml version="1.0"?>
<launch>
  <arg name="paused" default="$(optenv PAUSED false)" />
  <arg name="use_sim_time" default="$(optenv USE_SIM_TIME true)" />
  <arg name="extra_gazebo_args" default="$(optenv EXTRA_GAZEBO_ARGS )" />
  <arg name="gui" default="$(optenv GUI true)" />
  <arg name="recording" default="$(optenv RECORDING false)" />
  <arg name="headless" default="$(optenv HEADLESS false)" />
  <arg name="debug" default="$(optenv DEBUG false)" />
  <arg name="physics" default="$(optenv PHYSICS ode)" />
  <arg name="verbose" default="$(optenv VERBOSE false)" />
  <arg name="output" default="$(optenv OUTPUT screen)" />
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="world_name" default="$(optenv WORLD_NAME worlds/empty.world)" />
  <arg name="respawn_gazebo" default="$(optenv RESPAWN_GAZEBO false)" />
  <arg name="use_clock_frequency" default="$(optenv USE_CLOCK_FREQUENCY false)" />
  <arg name="pub_clock_frequency" default="$(optenv PUB_CLOCK_FREQUENCY 100)" />
  <arg name="enable_ros_network" default="$(optenv ENABLE_ROS_NETWORK true)" />
  <arg name="server_required" default="$(optenv SERVER_REQUIRED false)" />
  <arg name="gui_required" default="$(optenv GUI_REQUIRED false)" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="recording" value="$(arg recording)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="physics" value="$(arg physics)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="output" value="$(arg output)" />
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="respawn_gazebo" value="$(arg respawn_gazebo)" />
    <arg name="use_clock_frequency" value="$(arg use_clock_frequency)" />
    <arg name="pub_clock_frequency" value="$(arg pub_clock_frequency)" />
    <arg name="enable_ros_network" value="$(arg enable_ros_network)" />
    <arg name="server_required" value="$(arg server_required)" />
    <arg name="gui_required" value="$(arg gui_required)" />
  </include>

</launch>